/* Temporary Background simulating sand */
body {
    background-color: #eccca2;
}

/* Game Container temporary */
#game-container {
    max-width: 90%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

#menu {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 80vh;
    padding: 5%;
    align-items: center;
    width: 100%;
    border: 5px solid black;
}

#rules-section {
    background: white;
    padding: 20px;
    align-items: center;
    flex-direction: column;
    display: none;
    position: absolute;
    border: 5px solid black;
}

#rules-close, #rules-open {
    width: 200px;
    height: 50px;
    font-size: 150%;
}

#game-title {
    font-size:300%;
}

#start-button {
    width: 200px;
    height: 50px;
    font-size: 150%;
}

#game-section {
    display: none;
    justify-content: space-between;
    flex-direction: column;
    min-height: 80vh;
    padding: 5%;
    align-items: center;
    width: 100%;
    border: 5px solid black;
}

#quit-button {
    position: absolute;
    right: 20%;
    top: 10%;
    width: 80px;
    height: 40px;
    font-size: 130%;
}