/* Font test */
@font-face {
    font-family: squidgame;
    src: url("../font/game-of-squids.ttf")
}
/* Temporary Background simulating sand */
body {
    background: url(../images/background.jpg);
}

/* Game Container temporary */
#game-container {
    max-width: 60%;
    min-height: 95vh;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

/* Start Menu */
#menu {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 80vh;
    padding: 5%;
    align-items: center;
    width: 100%;
    border: 5px solid black;
    background-color: #eccca2;
}

/* Rules not visible until Rules Button is pressed */
#rules-section {
    background: white;
    padding: 20px;
    align-items: center;
    flex-direction: column;
    display: none;
    position: absolute;
    border: 5px solid black;
}

/* Button for rules and start game */
#rules-close, #rules-open, #start-button {
    width: 200px;
    height: 50px;
    font-size: 150%;
}

#game-title {
    font-size:300%;
}

#game-section {
    display: none;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    width: 100%;
    border: 5px solid black;
    background-color: rgba(236, 204, 162, .85);
}

#quit-button-container {
    position: relative;
    left: 45%;
}

#quit-button {
    width: 80px;
    height: 40px;
    font-size: 130%;
    color: #f44786;
}

#bubble-image-section {
    display: flex;
    width: 100%;
    position: relative;
    bottom: 5%;
    justify-content: flex-start;
    height: 110px;
}

.bubble {
    width: 300px;
    height: 160px;
}

#image-section {
    display: flex;
    width: 100%;
    position: relative;
    bottom: 8%;
    justify-content: space-between;
}

.left {
    width: 350px;
    position: absolute;
    left: -21px;
}

.right {
    width: 350px;
    transform: scaleX(-1);
    position: absolute;
    right: -21px;
}

#score-section {
    display: flex;
    position: relative;
    top: 12%;
    width: 100%;
    justify-content: space-between;
}

.pouch {
    width: 150px;
}

#player-marble {
    position: absolute;
    left: 47px;
    bottom: 18%;
    font-size: 200%;
}

#computer-marble {
    position: absolute;
    right: 78px;
    bottom: 18%;
    font-size: 200%;
}

#information-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    border: 5px solid black;
    width: 100%;
    height: 25%;
    top: 1%;
    background-color: rgba(246,215,176, .85);
}

#odd-even-container {
    display: none;
    align-items: center;
    flex-direction: column;
}

#odd-even-button-container {
    display: flex;
    align-items: center;
    flex-direction: row;
}

#odd-even-container button {
    margin: 5px;
}

#wager-container {
    display: none;
    align-items: center;
    flex-direction: column;
}

#wager-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.wager-button {
    margin: 5px;
}

#hider-container {
    display: none;
    align-items: center;
    flex-direction: column;
}

#hider-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hider-button {
    margin: 5px;
}

.guesser {
    color: #f44786;
}

.hider {
    color: #249f9c;
}