/* Fonts */
@font-face {
    font-family: azonix;
    src: url("../font/azonix.otf")
}

@font-face {
    font-family: "the shape of things";
    src: url("../font/the-shape-of-things.otf")
}

/* Background taken from Squid Game */
body {
    background: url(../images/background.jpg) no-repeat;
    background-size: auto;
    font-family: sans-serif;
}

/* Contains every element inside */
#game-container {
    width: 1142px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

/* Container for the start menu */
#menu {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 5%;
    align-items: center;
    width: 100%;
    border: 5px solid black;
    background-color: #eccca2;
    height: 750px;
}

/* Rules Section of the main menu */
#rules-section {
    background: white;
    padding: 20px;
    align-items: center;
    flex-direction: column;
    display: none;
    position: absolute;
    border: 5px solid black;
    z-index: 2;
    font-size: 120%;
    font-family: sans-serif;
}

/* Buttons for rules and start game */
#rules-close,
#rules-open,
#start-button {
    width: 260px;
    height: 60px;
    font-size: 200%;
    font-family: azonix, sans-serif;
    border: 3px solid black;
    background-color: white;
    box-shadow: 0px 7px 0px 0px rgba(100, 100, 111, 0.6);
    cursor: pointer;
}

/* Hover rules for the buttons */
#rules-close:hover,
#rules-open:hover,
#start-button:hover {
    background-color: #f2f2f2;
}

/* Button press effect for the buttons in the main menu */
#rules-close:active,
#rules-open:active,
#start-button:active {
    transform: translateY(5px);
    box-shadow: 0px 2px 0px 0px rgba(100, 100, 111, 0.6)
}

/* Rules for the game title */
#game-title {
    font-size: 500%;
    font-family: "the shape of things", sans-serif;
    position: relative;
    left: 25px;
    text-shadow: 5px 5px rgba(100, 100, 111, 0.2);
}

/* Container for the interactive game */
#game-section {
    display: none;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    width: 100%;
    border: 5px solid black;
    background-color: rgba(236, 204, 162, .9);
    position: relative;
    height: 890px;

}

/* Container for the role buttons */
#role-button-container {
    position: absolute;
    left: 10px;
}

/* Button for opening the guesser rules */
#role-guesser-button {
    display: none;
    width: 200px;
    height: 60px;
    font-size: 200%;
    color: #f44786;
    border: 3px solid black;
    text-transform: uppercase;
    font-weight: 800;
    cursor: pointer;
    background-color: white;
    box-shadow: 0px 7px 0px 0px rgba(100, 100, 111, 0.6);
}

/* Section for the guesser rules */
#role-guesser-section {
    background: white;
    padding: 20px;
    align-items: center;
    flex-direction: column;
    display: none;
    position: absolute;
    border: 5px solid black;
    z-index: 2;
    font-family: sans-serif;
    font-size: 120%;
}

/* Button for closing the guesser rules section */
#role-guesser-close {
    width: 260px;
    height: 60px;
    font-size: 200%;
    font-family: azonix, sans-serif;
    border: 3px solid black;
    background-color: white;
    box-shadow: 0px 7px 0px 0px rgba(100, 100, 111, 0.6);
    cursor: pointer;
}

/* Button for opening the hider rules */
#role-hider-button {
    display: none;
    width: 170px;
    height: 60px;
    font-size: 200%;
    color: #037a76;
    border: 3px solid black;
    text-transform: uppercase;
    font-weight: 800;
    cursor: pointer;
    background-color: white;
    box-shadow: 0px 7px 0px 0px rgba(100, 100, 111, 0.6);
}

/* Section for the hider rules */
#role-hider-section {
    background: white;
    padding: 20px;
    align-items: center;
    flex-direction: column;
    display: none;
    position: absolute;
    border: 5px solid black;
    z-index: 2;
    font-family: sans-serif;
    font-size: 120%;
}

/* Button for closing the hider rules section */
#role-hider-close {
    width: 260px;
    height: 60px;
    font-size: 200%;
    font-family: azonix, sans-serif;
    border: 3px solid black;
    background-color: white;
    box-shadow: 0px 7px 0px 0px rgba(100, 100, 111, 0.6);
    cursor: pointer;
}

/* Container for the quit button */
#quit-button-container {
    position: absolute;
    right: 10px;
}

/* Quit button (SHOCKER!!) */
#quit-button {
    width: 120px;
    height: 60px;
    font-size: 200%;
    color: #f44786;
    border: 3px solid black;
    text-transform: uppercase;
    font-weight: 800;
    cursor: pointer;
    background-color: white;
    box-shadow: 0px 7px 0px 0px rgba(100, 100, 111, 0.6);
}

/* Section wich contains the speech bubble images */
#bubble-image-section {
    display: flex;
    width: 100%;
    position: relative;
    top: 7.5%;
    justify-content: flex-start;
    height: 110px;
}

/* The speech bubble image */
.bubble {
    width: 200px;
    height: 200px;
}

/* Section containing the hand images */
#image-section {
    display: flex;
    width: 100%;
    position: relative;
    bottom: 130px;
    justify-content: space-between;
}

/* Left hand image for the player */
.left {
    width: 350px;
    position: absolute;
    left: -21px;
}

/* Right hand image flipped for the computer */
.right {
    width: 350px;
    transform: scaleX(-1);
    position: absolute;
    right: -21px;
}

/* Section containing the pouch images and score text */
#score-section {
    display: flex;
    position: absolute;
    bottom: 190px;
    width: 100%;
    justify-content: space-between;
}

/* Pouch image */
.pouch {
    width: 150px;
}

/* Player score */
#player-marble {
    position: absolute;
    left: 48px;
    bottom: 18%;
    font-size: 200%;
}

/* Computer score */
#computer-marble {
    position: absolute;
    right: 78px;
    bottom: 18%;
    font-size: 200%;
}

/* Box for information for the player through text */
#information-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    border: 5px solid black;
    width: 100%;
    height: 190px;
    top: 10px;
    background-color: rgba(246, 215, 176, .85);
}

/* Active role */
#player-status {
    position: relative;
    bottom: 30px;
    font-size: 150%;
    text-align: center;
    line-height: 1.5;
}

/* Container for the OE section */
#odd-even-container {
    display: none;
    align-items: center;
    flex-direction: column;
    font-size: 150%;
    position: absolute;
    bottom: 10px;
    line-height: 0;
}

/* OE buttons container */
#odd-even-button-container {
    display: flex;
    align-items: center;
    flex-direction: row;
}

/* OE buttons margin */
#odd-even-container button {
    margin: 5px;
}

/* Odd button (ANOTHER SHOCKER) */
#odd-button {
    width: 90px;
    height: 50px;
    font-size: 100%;
    color: #f44786;
    border: 2px solid black;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    background-color: white;
    box-shadow: 0px 7px 0px 0px rgba(100, 100, 111, 0.6);
}

/* Even button (YET ANOTHER SHOCKER) */
#even-button {
    width: 90px;
    height: 50px;
    font-size: 100%;
    color: #037a76;
    border: 2px solid black;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    background-color: white;
    box-shadow: 0px 7px 0px 0px rgba(100, 100, 111, 0.6);
}

/* Container for the wager section */
#wager-container {
    display: none;
    align-items: center;
    flex-direction: column;
    font-size: 150%;
    position: absolute;
    bottom: 10px;
    line-height: 0;
}

/* Container for the wager buttons */
#wager-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Wager buttons (The shocker joke is getting old, i'll stop now) */
.wager-button {
    margin: 5px;
    width: 90px;
    height: 50px;
    font-size: 100%;
    color: #f44786;
    border: 2px solid black;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    background-color: white;
    box-shadow: 0px 7px 0px 0px rgba(100, 100, 111, 0.6);
}

/* Container for the hider section */
#hider-container {
    display: none;
    align-items: center;
    flex-direction: column;
    font-size: 150%;
    position: absolute;
    bottom: 10px;
    line-height: 0;
}

/* Container for the hider buttons */
#hider-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Container for the next turn section */
#next-turn-container {
    display: none;
    align-items: center;
    flex-direction: column;
    font-size: 150%;
    position: absolute;
    bottom: 10px;
    line-height: 0;
}

/* Container for the next turn button */
#next-turn-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Next turn button */
#next-turn-button {
    margin: 5px;
    width: 160px;
    height: 50px;
    font-size: 100%;
    border: 2px solid black;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    background-color: white;
    box-shadow: 0px 7px 0px 0px rgba(100, 100, 111, 0.6);
}

/* Hider buttons */
.hider-button {
    margin: 5px;
    width: 90px;
    height: 50px;
    font-size: 100%;
    color: #249f9c;
    border: 2px solid black;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    background-color: white;
    box-shadow: 0px 7px 0px 0px rgba(100, 100, 111, 0.6);
}


/* Color for specific in game choices representing odd or text representing something negative */
.odd {
    color: #f44786;
    text-transform: uppercase;
}

/* Color for specific in game choices representing even or text representing something positive */
.even {
    color: #249f9c;
    text-transform: uppercase;
}

/* Hover effect for the game buttons in order of appearance*/
#role-guesser-button:hover,
#role-guesser-close:hover,
#role-hider-button:hover,
#role-hider-close:hover,
#quit-button:hover,
#odd-button:hover,
#even-button:hover,
.wager-button:hover,
.hider-button:hover,
#next-turn-button:hover {
    background-color: #f2f2f2;
}

/* On press effect for the game buttons in order of appearance */
#role-guesser-button:active,
#role-guesser-close:active,
#role-hider-button:active,
#role-hider-close:active,
#quit-button:active,
#odd-button:active,
#even-button:active,
.wager-button:active,
.hider-button:active,
#next-turn-button:active {
    transform: translateY(5px);
    box-shadow: 0px 2px 0px 0px rgba(100, 100, 111, 0.6)
}

/* Footer section */
#footer {
    display: flex;
    justify-content: space-between;
    font-size: 140%;
    background-color: #eccca2;
    position: relative;
    color: black;
    width: 1132px;
    border: 5px solid black;
    margin: 10px auto -10px;
    height: 60px;
    align-items: center;
    font-family: sans-serif;
}

#footer p {
    padding: 0 10px;
    font-weight: bold;
}

/* Github icon */
#footer i {
    padding: 0 10px;
    font-size: 170%;
    color: black;
}

/* Used in js to change "permanently" the color, this way the github icon will have both indetifying colors of the theme odd and even */
#footer i.clicked {
    color: #f44786;
}

/* Hover function for github icon, this way the github icon will have both identifying colors of the theme odd and even */
#footer i:hover {
    color: #037a76;
}

/* Media queries */

/* Background */
/* Squidgame background gets swapped with a sand background as it is not tall enough for such screens */
@media screen and (min-height: 1200px) {
    body {
        background: url(../images/sand.jpg) no-repeat;
        background-size: cover;
    }
}

/* Squidgame background gets swapped with a sand background as it is not wide enough for such screen resolutions*/
@media screen and (min-width: 1921px) {
    body {
        background: url(../images/sand.jpg) no-repeat;
        background-size: cover;
    }
}

@media screen and (max-width: 1440px) {
    #menu {
        height: 585px;
    }

    #game-section {
        height: 730px;
    }

    #bubble-image-section {
        top: 8.5%;
    }

    .bubble {
        width: 180px;
        height: 180px;
    }

    #score-section {
        width: 96%;
    }
}

@media screen and (max-width: 1280px) {
    #game-container {
        margin: auto;
        width: 800px;
    }

    #menu {
        height: 80vh;
        border: 4px solid black;
    }

    #rules-section {
        font-size: 90%;
        border: 4px solid black;
    }

    #game-section {
        height: 95vh;
        border: 4px solid black;
    }

    #footer {
        margin: auto;
        margin-top: 5px;
        width: 792px;
        border: 4px solid black;
    }

    #quit-button {
        width: 100px;
        height: 50px;
        font-size: 170%;
    }

    #role-guesser-button {
        width: 170px;
        height: 50px;
        font-size: 170%;
    }

    #role-hider-button {
        width: 135px;
        height: 50px;
        font-size: 170%;
    }

    #role-hider-section,
    #role-guesser-section {
        font-size: 90%;
        border: 4px solid black;
    }

    #role-hider-close,
    #role-guesser-close {
        width: 125px;
        height: 50px;
        font-size: 180%;
    }

    #odd-even-container,
    #wager-container,
    #hider-container {
        font-size: 130%;
    }

    #even-button,
    #odd-button {
        width: 70px;
        height: 40px
    }

    .hider-button,
    .wager-button {
        width: 70px;
        height: 40px;
    }

    #bubble-image-section {
        top: 9.5%;
    }

    .bubble {
        width: 120px;
        height: 120px;
    }

    #image-section {
        bottom: 90px;
    }

    .left,
    .right {
        width: 200px;
    }

    #score-section {
        bottom: 172px;
        width: 93%;
    }

    #player-marble {
        left: 30px;
        bottom: 12%;
        font-size: 160%;
    }

    #computer-marble {
        right: 49px;
        bottom: 12%;
        font-size: 160%;
    }

    .pouch {
        width: 100px;
    }

    #information-section {
        border: 3px solid black;
        height: 170px;
    }

    #player-status {
        font-size: 129%;
    }

    #next-turn-container {
        font-size: 125%;
    }

    #next-turn-button {
        width: 135px;
        height: 40px;
    }
}

@media screen and (max-width: 1280px) and (min-height: 1200px) {
    #game-container {
        margin: auto;
        width: 100%;
    }

    #menu {
        height: 80vh;
        border: 4px solid black;
    }

    #rules-section {
        font-size: 120%;
        border: 4px solid black;
    }

    #game-section {
        height: 95vh;
        border: 4px solid black;
    }

    #footer {
        margin: auto;
        margin-top: 5px;
        width: auto;
        border: 4px solid black;
    }

    #quit-button {
        width: 120px;
        height: 60px;
        font-size: 200%;
    }

    #role-guesser-button {
        width: 200px;
        height: 60px;
        font-size: 200%;
    }

    #role-hider-button {
        width: 170px;
        height: 60px;
        font-size: 200%;
    }

    #role-hider-section,
    #role-guesser-section {
        font-size: 120%;
        border: 4px solid black;
    }

    #role-hider-close,
    #role-guesser-close {
        width: 260px;
        height: 60px;
        font-size: 200%;
    }

    #odd-even-container,
    #wager-container,
    #hider-container {
        font-size: 150%;
    }

    #even-button,
    #odd-button {
        width: 90px;
        height: 50px;
    }

    .hider-button,
    .wager-button {
        width: 90px;
        height: 50px;
    }

    #bubble-image-section {
        top: 7.5%;
    }

    .bubble {
        width: 200px;
        height: 200px;
    }

    #image-section {
        bottom: 130px;
    }

    .left,
    .right {
        width: 350px;
    }

    #score-section {
        bottom: 190px;
        width: 100%;
    }

    #player-marble {
        left: 47px;
        bottom: 18%;
        font-size: 200%;
    }

    #computer-marble {
        right: 78px;
        bottom: 18%;
        font-size: 200%;
    }

    .pouch {
        width: 150px;
    }

    #information-section {
        border: 3px solid black;
        height: 190px;
    }

    #player-status {
        font-size: 130%;
    }

    #next-turn-container {
        font-size: 150%;
    }

    #next-turn-button {
        width: 160px;
        height: 50px;
    }
}

/* Media query 828px has been chosen over the usual 768px as apple iphone 11 is a still commonly used phone */
@media screen and (max-width: 828px) {
    #game-container {
        width: 100%;
    }

    #footer {
        width: auto;
    }
}

@media screen and (max-width: 768px) {
    body {
        background-size: auto;
    }

    #menu {
        border: 4px solid black;
        height: 80vh;
    }

    #rules-section {
        font-size: 90%;
        border: 4px solid black;
    }

    #rules-close,
    #rules-open,
    #start-button {
        width: 240px;
        height: 60px;
        font-size: 180%;
    }

    #game-title {
        font-size: 300%;
        display: flex;
        flex-direction: column;
        text-align: center;
        left: auto;
    }

    #game-section {
        height: 95vh;
    }

    #role-hider-button {
        width: 135px;
        height: 50px;
        font-size: 180%;
    }

    #role-guesser-button {
        width: 180px;
        height: 50px;
        font-size: 180%;
    }

    #role-hider-section,
    #role-guesser-section {
        font-size: 90%;
    }

    #role-hider-close,
    #role-guesser-close {
        width: 125px;
        height: 50px;
        font-size: 180%;
    }

    #quit-button {
        width: 100px;
        height: 50px;
        font-size: 180%;
    }

    #bubble-image-section {
        top: 8.5%;
    }

    .bubble {
        width: 140px;
        height: 140px;
    }

    #image-section {
        bottom: 90px;
    }

    .left,
    .right {
        width: 200px;
    }

    #score-section {
        bottom: 172px;
        width: 97%;
    }

    #player-marble {
        left: 40px;
        bottom: 17%;
        font-size: 170%;
    }

    #computer-marble {
        right: 62px;
        bottom: 17%;
        font-size: 170%;
    }

    .pouch {
        width: 120px;
    }

    #information-section {
        height: 170px;
    }

    #player-status {
        font-size: 120%;
    }

    #hider-container,
    #wager-container,
    #odd-even-container {
        font-size: 125%;
    }

    .hider-button,
    .wager-button {
        width: 70px;
        height: 40px;
    }

    #even-button,
    #odd-button {
        width: 70px;
        height: 40px
    }

    #next-turn-container {
        font-size: 125%;
    }

    #next-turn-button {
        width: 135px;
        height: 40px;
    }
}

@media screen and (max-width: 480px) {
    #menu {
        border: 2px solid black;
        height: 80vh;
    }

    #rules-section {
        padding: 5px;
        border: 2px solid black;
        font-size: 60%;
    }

    #rules-open,
    #start-button {
        width: 170px;
        font-size: 125%;
    }

    #rules-close {
        margin-bottom: 5px;
        width: 120px;
        font-size: 200%;
        height: 40px;
    }

    #footer {
        font-size: 70%;
        border: 2px solid black;
        height: 40px;
    }

    #game-section {
        width: 100%;
        border: 2px solid black;
        height: 95vh;
    }

    #quit-button {
        width: 70px;
        height: 40px;
        font-size: 100%;
        border: 2px solid black;
    }

    #role-hider-button {
        width: 80px;
        height: 40px;
        font-size: 100%;
        border: 2px solid black;
    }

    #role-guesser-button {
        width: 110px;
        height: 40px;
        font-size: 100%;
        color: #f44786;
        border: 2px solid black;
    }

    #role-hider-close,
    #role-guesser-close {
        width: 72px;
        height: 40px;
        font-size: 120%;
        border: 2px solid black;
        margin-bottom: 5px;
    }

    #role-hider-section,
    #role-guesser-section {
        padding: 5px;
        border: 2px solid black;
        font-size: 60%;
    }

    #bubble-image-section {
        top: 10.5%;
    }

    .bubble {
        width: 100px;
        height: 100px;
    }

    #image-section {
        bottom: 67px;
    }

    .left {
        width: 140px;
    }

    .right {
        width: 140px;
        transform: scaleX(-1);
    }

    #score-section {
        bottom: 125px;
        width: 90%;
    }

    .pouch {
        width: 75px;
    }

    #player-marble {
        left: 25px;
        bottom: 15px;
        font-size: 105%;
    }

    #computer-marble {
        right: 39px;
        bottom: 15px;
        font-size: 105%;
    }

    #information-section {
        border: 2px solid black;
        height: 120px;
        top: 10px;
    }

    #player-status {
        bottom: 10px;
        font-size: 75%;
        line-height: normal;
    }

    #odd-even-container {
        font-size: 75%;
        bottom: 10px;
        line-height: 0;
    }

    #even-button,
    #odd-button {
        width: 60px;
        height: 30px;
    }

    #hider-container,
    #wager-container {
        font-size: 75%;
        bottom: 10px;
        line-height: 0;
    }

    .hider-button,
    .wager-button {
        width: 40px;
        height: 30px;
        font-size: 100%;
        border: 2px solid black;
    }

    #next-turn-container {
        font-size: 75%;
    }

    #next-turn-button {
        width: 110px;
        height: 30px;
        border: 2px solid black;
    }

}

/* For tall modern phones that easily reach 800px viewport height */
@media screen and (max-width: 480px) and (min-height: 641px) {
    #menu {
        border: 2px solid black;
        height: 80vh;
    }

    #rules-section {
        font-size: 80%;
    }

    #game-section {
        width: 100%;
        border: 2px solid black;
        height: 95vh;
    }

    #quit-button {
        width: 100px;
        height: 50px;
        font-size: 180%;
    }

    #role-guesser-button {
        width: 180px;
        height: 50px;
        font-size: 180%;
    }

    #role-hider-button {
        width: 135px;
        height: 50px;
        font-size: 180%;
    }

    #role-hider-section,
    #role-guesser-section {
        font-size: 80%;
    }

    #role-hider-close,
    #role-guesser-close {
        width: 125px;
        height: 50px;
        font-size: 180%;
    }

    .bubble {
        width: 140px;
        height: 140px;
    }

    .left,
    .right {
        width: 165px;
    }

    #score-section {
        bottom: 172px;
    }

    .pouch {
        width: 120px;
    }

    #player-marble {
        left: 40px;
        bottom: 17%;
        font-size: 170%;
    }

    #computer-marble {
        right: 62px;
        bottom: 17%;
        font-size: 170%;
    }

    #information-section {
        height: 170px;
        padding: 5px;
    }

    #player-status {
        font-size: 100%;
    }

    #hider-container,
    #wager-container {
        font-size: 100%;
    }

    #odd-even-container {
        font-size: 100%;
    }
}

/* As there are no listed devices with a viewport width lower than 360px with a height viewport higher than 641px i didn't bother to create a media query overruling the previous media query min height rule */
@media screen and (max-width: 359px) {
    #menu {
        border: 2px solid black;
        height: 400px;
    }

    /* Mozilla fix */
    #game-title {
        font-size: 199%;
    }

    #game-section {
        height: 450px;
    }
}